/* General */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: rgb(156,164,213);
  background: linear-gradient(59deg, rgba(156,164,213,1) 0%, rgba(0,212,255,1) 0%, rgba(112,178,225,1) 0%, rgba(213,147,198,1) 100%);
  background-size: cover;
  font-family: 'Nunito', sans-serif;
}

h1 {
  color: #fff;
  font-family: 'Noto Sans', sans-serif;
}

/* Todo */
#todo__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 5px rgb(79, 78, 78);
  max-width: 700px;
  width: 95%;
  min-width: 230px;
  max-height: 1000px;
  height: 95%;
  margin: 5vh 0;
}

#todo__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding: 5% 0;
  background: rgb(156,164,213);
  background: linear-gradient(59deg, rgba(156,164,213,1) 0%, rgba(0,212,255,1) 0%, rgba(213,147,198,1) 0%, rgba(213,147,198,1) 0%, rgba(112,178,225,1) 100%);
}

.form__wrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
  position: relative;
  margin: 2% 0;  
}

.task__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 70%;
}

.todo__message {
  font-size: 12px;
  color: rgb(255, 0, 0);
  font-weight: bold;
}

.todo__message.complete {
  color: rgb(10, 112, 22);
}

.todo__content {
  margin: 10px 0;
  word-break: break-word;
  display: flex;
  font-family: 'Handlee', cursive;
}

.todo {
  margin-left: 10px;
}

#todo__list {
  width: 100%;
  background-color: rgb(246, 240, 240);
  overflow-y: scroll;
  height: 100%;
}

/* List Items */
li {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5px;
}

li:nth-of-type(odd) {
  background-color: rgba(199, 222, 233, 0.5);
}
li:nth-of-type(even) {
  background-color: rgba(255, 255, 255, 0.5);
}
li:last-child {
  box-shadow: 0 8px 10px rgba(104, 102, 102,.5);
}

.editable {
  border: 1px solid rgb(135, 119, 141);
  padding: 5px;
  width: 95%;
  word-wrap: break-word;
  outline: 1px solid rgb(157, 157, 157);
  background-color: #fff;
}


/* Buttons */
#submitBtn,
.select__container,
#input__date,
#input__text {
  height: 30px;
  outline: none;
  width: 85%;
}

#submitBtn {
  width: 15%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0;
  background-color: rgb(209, 139, 209);
  cursor: pointer;
  position: absolute;
  right: 0;
  transition: .2s linear;
}

#submitBtn:hover {
  background-color: rgb(200, 101, 200);
}

.button__container {
  width: 100px;
  text-align: center;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

/* Select */
.select__container {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  border: none;
  outline: none;
  background-color: #fff;
  width: 100%;
  padding-left: 2%;
  cursor: pointer;
  color: rgb(65, 65, 67);
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
}

.select {
  position: relative;
  width: 25%;
}

.fa-chevron-down {
  position: absolute;
  right: 0;
  width: 20%;
  height: 100%;
  display: flex!important;
  align-items: center;
  justify-content: center;
  color: rgb(209, 139, 209);
  pointer-events: none;
  margin: 0;
  transition: .2s linear;
}

.select:hover .fa-chevron-down {
  color: #fff!important;
  background-color: rgb(200, 101, 200)!important;
}

/* Input */
#input__text {
  border: 1px solid #9f9a9a;
  border-radius: 0;
  padding-left: 2%;
}

#input__date {
  font-size: 12px;
  cursor: pointer;
  width: 98%;
  border: none;
  color: rgb(65, 65, 67);
  background-color: #fff;
}

/* Icons */
.fa-plus {
  color: #fff;
}

.material-icons,
i {
  font-size: 18px !important;
  margin: 0 5px;
  color: #4a4949;
}

.material-icons {
  border: 1px solid #9f9a9a;
  border-radius: 5px;
  transform: translateY(15%) !important;
}

.fa-pencil-alt {
  font-size: 25px !important;
  color: #fff;
}

.fa-calendar-alt {
  position: absolute;
  left: 2.5%;
  margin: 0;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color:#000;
}

/* Date */
.date__container {
  line-height: 10px;
}

.due__date {
  font-size: 11px;
  font-weight: bold;
  color: rgb(65, 65, 67);
}

.daysLeft {
  font-size: 11px;
  color: rgb(36, 36, 36);
}

.date {
  position: relative;
  width: 85%;
  border: 1px solid #9f9a9a;
  background-color: #fff;
  padding-left: 8%;
}

/* Images */
.img__wrapper {
  position: absolute;
  bottom: 4vh;
  right: 2vw;
  width: 300px;
  height: 300px;
  filter: drop-shadow(20px 5px 5px rgba(42, 41, 41, 0.5));
}

img {
  position: absolute;
  width: 50%;
  height: 60%;
}

.img1 {
  bottom: 0;
  right: 0;
}

.img2 {
  left: 0;
  top: 0;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  width: 70%;
  height: 50%;
}

.cb__text {
  position: absolute;
  font-size: 18px;
  width: 100px;
  left: 58px;
  top: 50px;
  text-align: center;
}

/* Other */
.save,
.cancel,
.edit,
.checkbox {
  display: none;
}

.active {
  display: inline-block;
}

.overdue {
  color: rgb(255, 0, 0);
}

/* Media Queries */
@media only screen and (max-width: 1200px) {
  .img__wrapper {
    display: none;
  }
}

@media only screen and (max-width: 650px) {
  .form__wrapper {
    width: 80%;
  }
  .select {
    width: 50%;
  }
}

@media only screen and (max-width: 450px) {
  h1 {
    font-size: 7vw;
  }

  .material-icons,
  i {
    font-size: 4vw !important;
  }
  
  .fa-pencil-alt {
    font-size: 6vw !important;
  }
  
  .todo__content {
    font-size: 4vw;
  }
}

@media only screen and (max-width: 360px) {
  .due__date,
  .daysLeft {
    font-size: 10px;
  }
  .button__container {
    width: 65px;
  }
  .material-icons,
  i {
    margin: 0 2px;
    font-size: 5vw !important;
  }
}

@media only screen and (max-width: 310px) {
  .todo__message {
    font-size: 10px;
  }
  .due__date,
  .daysLeft {
    font-size: 9px;
  }
  .editable {
    padding: 2px;
  }
  .form__wrapper {
    width: 90%;
  }
  .select {
    width: 70%;
  }
}